@import "tailwindcss";

@theme inline {
  --color-background: #050505;
  --color-foreground: #ffffff;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}

@layer utilities {
  .spatial-glass {
    @apply bg-white/5 backdrop-blur-2xl border border-white/10 shadow-2xl rounded-[2rem];
  }
}
